h1 {
    text-align: center;
    color: green;
}
h2 {
    color: royalblue;
}
h3 
    color: cadetblue;
}
section {
    background-color: green;
}
p {
    font-size: larger;
}
ul {
    border: solid green 10px;
}
